<div class="container" id="contact">
    <div class="row text-center justify-content-center">
        <div class='col-sm-2'>
            <h6>About</h6>
            <span>Learn</span><br>
            <span>Login</span><br>
            <span>Reach</span><br>
            <span>Docs</span><br>
        </div>

        <div class='col-sm-2'>
            <h6>Address</h6>
            <span>Learn</span><br>
            <span>Login</span><br>
            <span>Reach</span><br>
            <span>Docs</span><br>
        </div>

        <div class='col-sm-2'>
            <h6>Docs</h6>
            <span>Learn</span><br>
            <span>Login</span><br>
            <span>Reach</span><br>
            <span>Docs</span><br>
        </div>

        <div class='col-sm-2'>
            <h6>Resource</h6>
            <span>Learn</span><br>
            <span>Login</span><br>
            <span>Reach</span><br>
            <span>Docs</span><br>
        </div>

        <div class='col-sm-2'>
            <h6>Subscribe Us</h6>
            <span>Subscribe for Daily notifications</span>
            <input type="text" class='font-weight-bold form-control' placeholder="Enter your Email">
            <button type='submit' class="font-weight-bold btn btn-outline-danger bnt-sm float-left">Subscribe</button>
        </div>

    </div>
</div>