{% load static %}
    
    <div class="header">
      <div class="img-parent">
          <div class="img">
              <img src="{% static "images/hero-section-2.jpg" %}" alt="Image of People in Event">
          </div>
          <div class="img-overlay"></div>
      </div>
      <div class="img-content">
          <h2>Schedule Event</h2>
          <span>Event Management website is designed to facilitate the organization and planning of events. It offers a user-friendly interface where event planners can input details such as the event’s date, time, location, and description. Additionally, it provides options for setting up reminders, managing guest lists, and customizing event pages. This section aims to streamline the event scheduling process, making it more efficient and less time-consuming for users.</span>
      </div>  
    </div>
